  <md-toolbar md-scroll-shrink="true">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Home" ng-click="toggleMenu();" ng-show="isLoggedIn">
        <md-icon>menu</md-icon>
        <md-tooltip md-delay="400" md-direction="bottom" md-autohide="true">
            {{'MENU' | translate}}
        </md-tooltip>
      </md-button>
      <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
        <span class="md-flex">Guess the number</span>
      </h2>
      <span flex></span>


    </div>

  </md-toolbar>
