<dc-toolbar>

</dc-toolbar>

<md-content layout="column" layout-padding layout-margin layout-align="center center">
  <h1>Please enter a number betwee 1 and 100</h1>
  <div layout="row">
    <form name="form">

      <md-input-container flex>
        <label>A number</label>
        <input type="number" ng-required="true" ng-min="1" ng-max="100"  name="number" ng-model="number">
        <div ng-messages="form.number.$error">
          <div ng-message="required">You must input a number</div>
          <div ng-message="max">Number must be lower or equal to 100</div>
          <div ng-message="min">Number must be equal or greater than 1</div>
        </div>
      </md-input-container>
      <md-button ng-click="selectNumber(number);">
        <md-icon>check</md-icon> Guess
      </md-button>
    </form>
  </div>
</md-content>
